

<% if (poster) { %>
 <div class="card me-4" style="width: 12rem; border: none">
    <% if (fromWatch) { %>
      <a href=<%= '/users/watch-info/' + id %>>
    <% } else { %>
      <a href=<%= '/explore/' + id %>>
    <% } %>
    
    <figure class="figure">
      <img src=<%= 'https://image.tmdb.org/t/p/original' + poster %> class="figure-img img-fluid rounded" alt="...">
      <figcaption class="figure-caption text-center"><%= title %></figcaption>
    </figure>
    </a>
  </div>
<% } else { %>
  <div class="card me-4" style="width: 12rem; border: none;">
    <% if (fromWatch) { %>
      <a href=<%= '/users/watch-info/' + id %>>
    <% } else { %>
      <a href=<%= '/explore/' + id %>>
    <% } %>
    <figure class="figure">
      <img src="https://cringemdb.com/img/movie-poster-placeholder.png" class="figure-img img-fluid rounded" alt="">
      <!-- <svg xmlns="http://www.w3.org/2000/svg" width="100%" fill="currentColor" class="bi bi-file-earmark-image figure-img img-fluid " viewBox="0 0 16 16">
        <path d="M6.502 7a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3"/>
        <path d="M14 14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h5.5L14 4.5zM4 1a1 1 0 0 0-1 1v10l2.224-2.224a.5.5 0 0 1 .61-.075L8 11l2.157-3.02a.5.5 0 0 1 .76-.063L13 10V4.5h-2A1.5 1.5 0 0 1 9.5 3V1z"/>
      </svg>  -->
      <figcaption class="figure-caption text-center"><%= title %></figcaption>
    </figure>
    </a>
  </div>
<% } %>

