<%- include('partials/head') %>
<%- include('partials/navbar') %>

<div class="container">
  <!-- <br> -->
  <div class="row mt-3">
    <%- include('partials/flash') %>
    <div class="mb-3">
      <form action="/search" method="GET"><input type="text" class="form-control" id="search-bar" placeholder="Search..." autocomplete="off" name="search"></form>
    </div>
  </div>
  <div class="row">
    <div class="row justify-content-between">
      <div class="col-auto me-auto"><h3>Popular Today</h3></div>
      <div class="col-auto"><a href="/all/1"><button class="btn btn-outline-dark btn-sm">See All</button></a></div>
    </div>
    <div class="carousel carousel-dark slide" id="myCarousel2">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="cards-wrapper justify-content-center" style="display:flex;">
            <div class="row gx-2">
              <% movies.shift().forEach(element => { %>
                <%- include('partials/moviecard', {poster: 'https://image.tmdb.org/t/p/original' + element.poster_path, title: element.title, id: element.id, fromWatch: false}) %>
              <% }) %>
            </div>
          </div>
        </div>
        <% movies.forEach(element => { %>
          <%- include('partials/carouselItem', {cards: element}) %>
        <% }) %>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel2" data-bs-slide="prev" style="background-color: #b9b9b9;width: 6vh;height: 6vh;
      border-radius: 50%;top: 50%;transform: translateY(-50%);">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#myCarousel2" data-bs-slide="next" style="background-color: #b9b9b9;width: 6vh;height: 6vh;
      border-radius: 50%;top: 50%;transform: translateY(-50%);">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
  <div class="row mb-3">
    <h3>From your wishlist...</h3>
    <% if (!authenticated) { %>
     <div class="row"><p>Login or create an account to make a wishlist!</p></div>
    <% } else if (wishlist) { %>
      <div class="carousel carousel-dark slide" id="myCarousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="cards-wrapper justify-content-center" style="display:flex;">
              <div class="row gx-2">
                <% wishlist.shift().forEach(element => { %>
                  <%- include('partials/moviecard', {poster: element.poster_path, title: element.title, id: element.id, fromWatch: false}) %>
                <% }) %>
              </div>
            </div>
          </div>
          <% wishlist.forEach(element => { %>
            <%- include('partials/carouselItem', {cards: element}) %>
          <% }) %>  
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev" style="background-color: #b9b9b9;width: 6vh;height: 6vh;
        border-radius: 50%;top: 50%;transform: translateY(-50%);">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next" style="background-color: #b9b9b9;width: 6vh;height: 6vh;
        border-radius: 50%;top: 50%;transform: translateY(-50%);">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    <% } else { %>
      <div class="row mb-3"><p>Uh oh! Looks like your wishlist is empty...</p></div>
    <% } %>
  </div>
</div>
<%- include('partials/footer') %>
<%- include('partials/foot') %>