<%- include('partials/head') %>
<%- include('partials/navbar') %>

<section>

<div class="container-fluid">
  <div class="row h-100" id="bg-img" style="background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(<%= backdrop %>);background-size:cover;background-repeat:no-repeat;">
    <div class="row">
      <div class="col-auto me-auto text-light">
        <br>
        <figure class="figure text-light">
          <h1 class=""><%= movie.title %></h1>          
          
          <figcaption class="figure-caption text-light">
            <% if (movie.release_date) { %>
            <%- movie.release_date.substring(0, 4) %>
          <% } else { %>
           Year N/A
           <% } %>
           <%- '| ' + (movie.vote_average ?? 'Rating N/A') %>
           <% if (movie.genres[0]) { %>
            <%= '| ' + movie.genres[0].name %> 
            <% } %>
           <% if (movie.genres[1]) { %>
            <%= '| ' + movie.genres[1].name %>
            <% } %>
            <% if (movie.runtime) { %>
              <%= '| ' + movie.runtime + 'min' %>
            <% } else { %>
              | Runtime N/A
            <% } %>
          </figcaption>
          <hr>
        </figure>
      </div>
    
    <div class="col-auto mt-2 text-light">
      <%- include('partials/otherWatchModal', {movie, rating, comment}) %>
      <form action="/users/watch-delete" method="POST">
        <input type="hidden" name="mID" value=<%= movie.id %>>
        <button type="button" class="btn text-light" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
            <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
          </svg>
          Remove from watched
        </button>
        <div class="modal fade text-dark" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Warning: Are you sure want to delete?</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                Removing a movie from your watched list will also delete your review
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Nevermind</button>
                <button type="submit" class="btn btn-primary">Delete anyways</button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>

    <div class="row text-light">
      <% if (!movie.overview && !movie.poster_path) { %>
        <h4>Sorry! Information about this movie is currently unavailable</h4>
      <% } else { %> 
        <div class="col">
          <img class="img" src=<%= 'https://image.tmdb.org/t/p/original' + movie.poster_path  %> alt="" style="max-width: 50%;">
        </div>
        <div class="col-6">
          <% if (movie.overview) { %>
           <h6><%= movie.overview %></h6>
          <% } else { %>
            <h6>Sorry! Movie overview unavailable!</h6>
          <% } %>
          
          <dl class="row text-light">
            <dt class="col-sm-3">Directed by</dt>
            <dd class="col-sm-9"><%= director[0] %></dd>
          
            <dt class="col-sm-3">Written by</dt>
            <dd class="col-sm-9">
              <% if (writers.length === 0) { %>
               N/A
              <% } else { %>
                <% writers.forEach(element => { %>
                  <% if (writers[0] != element) { %>
                    &#x2022;
                  <% } %>
                 <%= element.name %>
                <% }) %>
              <% } %>  
            </dd>
            <dt class="col-sm-3">Starring</dt>
            <dd class="col-sm-9">
              <% stars.forEach(element => { %>
                <% if (element) { %>
                  <% if (stars[0] != element) { %>
                    &#x2022;
                  <% } %>
                 <%= element.name %>
                <% } %>
                <% }) %>              
            </dd>
          </dl>
        </div>
      <% } %>
    </div>
  </div>
  </div>
</section>
<%- include('partials/foot') %>